<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AutoFix</title>
  

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
        <!-- Meanmenu CSS -->
        <link rel="stylesheet" href="~/assets/css/meanmenu.css">
        <!-- Boxicons CSS -->
        <link rel="stylesheet" href="~/assets/css/boxicons.min.css">
        <!-- Owl Carousel -->
        <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">
        <!-- Magnific Popup CSS -->
        <link rel="stylesheet" href="~/assets/css/magnific-popup.min.css">
        <!-- Animate CSS -->
        <link rel="stylesheet" href="~/assets/css/animate.css">
        <!-- Style CSS -->
        <link rel="stylesheet" href="~/assets/css/style.css">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="~/assets/css/responsive.css">

        <title>Audeck - Auto Service and Car Repair HTML Template</title>

        <link rel="icon" type="image/png" href="~/assets/img/favicon.png">
    @await RenderSectionAsync("Styles", required: false)

</head>
<body>
     <!-- Preloader -->
        <div class="loader">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="spinner">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Preloader -->

    <!--====== Header Part Start ======-->
   <partial name="Partials/_HeaderPartial"/>
    <!--====== Header Part End ======-->
    <div >
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

     <!--====== Footer PART START ======-->
     <partial name="Partials/_FooterPartial"/>
    <!--====== Footer PART ENDS ======-->
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@

      <!-- Essential JS -->
        <script src="~/assets/js/jquery-3.5.1.min.js"></script>
        <script src="~/assets/js/popper.min.js"></script>
        <script src="~/assets/js/bootstrap.min.js"></script>
        <!-- Meanmenu JS -->
        <script src="~/assets/js/jquery.meanmenu.js"></script>
        <!-- Mixitup JS -->
        <script src="~/assets/js/jquery.mixitup.min.js"></script>
        <!-- Owl Carousel JS -->
        <script src="~/assets/js/owl.carousel.min.js"></script>
        <!-- Magnific Popup JS -->
        <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
        <!-- Form Ajaxchimp JS -->
		<script src="~/assets/js/jquery.ajaxchimp.min.js"></script>
		<!-- Form Validator JS -->
		<script src="~/assets/js/form-validator.min.js"></script>
		<!-- Contact JS -->
        <script src="~/assets/js/contact-form-script.js"></script>
        <!-- Wow JS -->
        <script src="~/assets/js/wow.min.js"></script>
        <!-- Custom JS -->
        <script src="~/assets/js/custom.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
