<!DOCTYPE html>

<html lang="en">

<body>

    <div class="col-xl-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Bar chart</h6>
                <canvas id="chartjsBar"></canvas>
            </div>
        </div>
    </div>
</body>
</html>

@section Scripts{
    <!-- Custom js for this page -->
    <script src="../../../admin-assets/js/chartjs-light.js"></script>
    <!-- End custom js for this page -->
}
