@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>fşlgkdfkjgldjldgdf</h1>
<div style="width: 300px;
     height: 200px;
     background: #EEE8AA;">

</div>
