$common-font: 'Poppins', sans-serif;
$transition: .5s all ease;
$white-color: #ffffff;
$black-color: #333333;
$grey-color: #858584;
$yellow-color: #fdb819;

@media only screen and (max-width : 767px) {

    $all-size: 14px;
    /*-- Default CSS --*/
    body {
        font-size: $all-size;
    }
    .ptb-100 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .pt-100 {
        padding-top: 50px;
    }
    .pb-70 {
        padding-bottom: 20px;
    }
    .pb-100 {
        padding-bottom: 50px;
    }
    /*-- End Default CSS --*/

    /*------ Home One CSS ------*/
    /*-- Navbar --*/
    .mean-container .mean-nav .navbar-nav {
        height: 350px;
        overflow-y: scroll;
    }
    .mean-container .mean-bar {
        background-color: #fff;
    }
    .mobile-nav .logo {
        top: 9px;
        max-width: 105px;
    }
    .mean-container a.meanmenu-reveal span {
        background: #fdb819;
        position: relative;
        top: 8px;
        margin-top: -6px;
    }
    .mean-container a.meanmenu-reveal {
        color: #fdb819;
    }
    .mobile-nav.mean-container .mean-nav ul li a.active {
        color: #fdb819;
    }
    /*-- End Navbar --*/

    /*-- Banner --*/
    .banner-area {
        height: 100%;
        text-align: center;
        padding-top: 145px;
        padding-bottom: 100px;

        &:before {
            display: none;
        }
        .banner-img {
            img {
                &:nth-child(1) {
                    max-width: 100%;
                    top: 250px;
                    left: 0;
                    right: 0;
                }
                &:nth-child(2) {
                    right: 0;
                    top: 0;
                    max-width: 100%;
                    position: relative;
                    margin-bottom: 20px;
                }
            }
        }
        .banner-text {
            max-width: 100%;
            margin-top: 0;

            h1 {
                margin-bottom: 20px;
                font-size: 35px;
            }
            p {
                margin-bottom: 32px;
            }
        }
    }
    .cmn-btn {
        a {
            padding: 10px 12px 12px;
        }
        .banner-btn-left {
            margin-right: 12px;
        }
    }
    /*-- End Banner --*/

    /*-- Address --*/
    .address-area {
        padding-top: 50px;
        padding-bottom: 20px;
        box-shadow: 0px 10px 20px 0px #dddddd8a;

        .row {
            margin-top: 0;
            box-shadow: none;
        }
    }
    .address-item {
        margin-top: 0;

        &:before {
            display: none;
        }
        i {
            width: 70px;
            height: 70px;
            line-height: 70px;
            font-size: 30px;
            box-shadow: 0px 0px 20px 0px #dddddd78;
            margin-bottom: 20px;
        }
    }
    /*-- End Address --*/

    /*-- Process --*/
    .section-title {
        margin-bottom: 40px;

        h2 {
            font-size: 25px;
        }
    }
    .process-area {
        .process-shape {
            max-width: 100%;
        }
    }
    .process-item {
        margin-bottom: 30px;

        .process-one {
            margin-bottom: 30px;
        }
        .process-two {
            margin-bottom: 30px;
        }
    }
    /*-- End Process --*/

    /*-- Service --*/
    .service-item {
        .service-content {
            margin-top: -50px;
        }
    }
    /*-- End Service --*/

    /*-- Quality --*/
    .quality-area {
        &:before {
            display: none;
        }
        &:after {
            display: none;
        }
        .quality-img {
            img {
                position: relative;
    
                &:nth-child(1) {
                    display: none;
                }
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    bottom: -50px;
                    left: 0;
                    max-width: 100%;
                    z-index: 1;
                }
            }
        }
    }
    .quality-content {
        max-width: 100%;
        margin-left: 0;
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;

        .section-title {
            text-align: center;
        }
    }
    /*-- End Quality --*/

    /*-- Work --*/
    .sorting-menu {
        margin-bottom: 40px;

        ul {
            li {
                margin-right: 2px;
                margin-left: 2px;
                margin-bottom: 7px;
            }
        }
    }
    .work-area {
        .work-item {
            img {
                width: 100%;
            }
            .cmn-btn {
                a {
                    padding: 11px 11px 12px 20px;
                }
            }
        }
    }
    /*-- End Work --*/

    /*-- Feature --*/
    .feature-area {
        background-color: #000000;
        position: relative;
        overflow: hidden;

        .feature-img {
            background-image: unset;

            &:before {
                display: none;
            }
            img {
                display: block;
            }
        }
        .feature-shape {
            img {
                right: 0;
            }
        }
        .feature-content {
            max-width: 100%;
            padding-top: 30px;
            padding-bottom: 50px;
            padding-left: 15px;
            padding-right: 15px;

            h2 {
                font-size: 25px;
                text-align: center;
            }
            ul {
                li {
                    margin-bottom: 40px;

                    &:nth-child(1) {
                        margin-left: 0;
                    }
                    &:nth-child(2) {
                        margin-left: 0;
                    }
                    &:nth-child(3) {
                        margin-left: 0;
                    }
                }
            }
        }
    }
    /*-- End Feature --*/

    /*-- Review --*/
    .review-area {
        text-align: center;

        .col-lg-6 {
            padding-left: 15px;
            padding-right: 15px;
        }
        .review-img {
            img {
                &:nth-child(1) {
                    display: none;
                }
            }
        }
        .review-bg {
            display: none;
        }
        .owl-theme .owl-nav {
            position: relative;
            margin-top: 15px;
        }
        .review-slider {
            max-width: 100%;
            margin-left: auto;
            padding-right: 0;
            
            .review-item {
                margin-bottom: 10px;

                i {
                    margin-bottom: 20px;
                }
                p {
                    font-size: 16px;
                    margin-bottom: 30px;
                }
                .review-inner {
                    padding-left: 0;

                    img {
                        position: relative;
                        display: inline-block;
                        top: 0;
                        left: 0;
                        margin-bottom: 12px;
                    }
                }
            }
        }
        .video-wrap {
            position: relative;
            top: 0;
            right: 0;
            left: 0;
            margin-top: 50px;
        
            a {
                width: 110px;
                height: 110px;
                line-height: 125px;

                &:before {
                    width: 110px;
                    height: 110px;
                }
                &:after {
                    width: 110px;
                    height: 110px;
                }
            }
        }
    }
    /*-- End Review --*/

    /*-- Pricing --*/
    .pricing-item {
        padding-bottom: 40px;

        .pricing-top {
            h3 {
                font-size: 28px;
            }
            p {
                font-size: 30px;
            }
        }
        .pricing-bottom {
            ul {
                margin-bottom: 30px;

                li {
                    font-size: 14px;
                    
                    i {
                        font-size: 17px;
                    }
                }
            }
        }
    }
    /*-- End Pricing --*/

    /*-- Blog --*/
    .blog-area {
        padding-bottom: 100px;
    }
    .blog-item {
        .blog-bottom {
            padding: 22px 20px 26px;

            ul {

                li {
                    flex: 0 0 60%;
                    max-width: 60%;

                    img {
                        margin-right: 3px;
                    }
                    &:last-child {
                        flex: 0 0 40%;
                        max-width: 40%;
                    }
                }
            }
        }
    }
    /*-- End Blog --*/

    /*-- Footer --*/
    .subscribe-area {
        padding-top: 30px;
        padding-bottom: 40px;
        top: -50px;
        padding-right: 15px;
        padding-left: 15px;

        h2 {
            font-size: 25px;
        }
        form {
            .form-control {
                padding-left: 15px;
                font-size: 14px;
            }
            .subscribe-btn {
                padding: 12px 18px 11px;
                font-size: 14px;
            }
        }
    }
    footer {
        .footer-img {
            max-width: 100%;
        }
    }
    .copyright-area {
        padding-top: 25px;
        padding-bottom: 25px;
        margin-top: 20px;
        text-align: center;

        .copyright-item {
            p {
                font-size: $all-size;
                margin-bottom: 10px;
            }
            ul {

                li {
                    a {
                        font-size: $all-size;
                    }
                }
            }
        }
        .copyright-right {
            text-align: center;
        }
    }
    /*-- End Footer --*/
    /*----- End Home One CSS ------*/

    /*----- Home Two CSS ------*/
    /*-- Banner --*/
    .banner-area-two {
        &:before {
            display: none;
        }
        &:after {
            display: none;
        }
        .banner-text {
            z-index: 1;
            
            h1 {
                font-size: 31px;
            }
        }
    }
    /*-- End Banner --*/

    /*-- Quality --*/
    .quality-area-two {
        padding-top: 50px;

        .quality-img {
            text-align: center;

            img {
                &:nth-child(3) {
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin-left: auto;
                    margin-right: auto;
                    max-width: 100%;
                    z-index: 1;
                }
            }
        }
    }
    .process-area-two {
        .process-item {
            .process-img {
                img {
                    &:last-child {
                        top: -15px;
                        max-width: 185px;
                    }
                }
            }
        }
    }
    /*-- End Quality --*/
    /*----- End Home Two CSS ------*/

    /*----- Home Three CSS ------*/
    /*-- Banner --*/
    .banner-area-three {
        height: 100%;
        text-align: center;

        .banner-text {
            max-width: 100%;
            margin-top: 0;
            padding-top: 130px;
            padding-bottom: 130px;

            h1 {
                margin-bottom: 20px;
                font-size: 31px;
            }
            p {
                margin-bottom: 34px;
            }
        }
        .video-wrap {
            position: relative;
            top: -95px;
            right: 0;
            left: 0;

            a {
                width: 90px;
                height: 90px;
                line-height: 100px;
                font-size: 55px;

                &:before {
                    width: 90px;
                    height: 90px;
                }
                &:after {
                    width: 90px;
                    height: 90px;
                }
            }
        }
    }
    .banner-slider {
        &.owl-theme .owl-dots {
            bottom: 0;
        }
        .owl-prev {
            display: none !important;
        }
        .owl-next {
            display: none !important;
        }
    }

    /*-- End Banner --*/

    /*-- Banner Call --*/
    .banner-call {
        padding-top: 30px;
        padding-bottom: 35px;
        margin-top: -10px;
        text-align: center;

        &:before {
            clip-path: none;
        }
        .banner-call-content {
            h3 {
                margin-bottom: 15px;
            }
        }
        .cmn-btn {
            text-align: center;
        }
    }
    /*-- End Banner Call --*/

    /*-- Quality --*/
    .quality-area-three {
        .quality-img {
            text-align: center;

            img {
                &:nth-child(3) {
                    padding-top: 50px;
                    bottom: 0;
                    max-width: 100%;
                    margin-bottom: -30px;
                }
            }
        }
    }
    /*-- End Quality --*/
    /*----- End Home Three CSS ------*/

    /*----- About CSS ------*/
    /*-- Page Title --*/
    .page-title-area {
        padding-top: 140px;
        padding-bottom: 95px;
        overflow: hidden;

        img {
            max-width: 100%;
        }
        .page-title-content {
            h2 {
                font-size: 35px;
                margin-bottom: 5px;
            }
            ul {

                li {
                    font-size: $all-size;
                }
            }
        }
    }
    /*-- End Page Title --*/

    /*-- Quality --*/
    .quality-area-four {
        .quality-img {
            padding-left: 15px;
            padding-right: 15px;
            bottom: 0;  
            margin-bottom: 70px;
            
            img {
                position: relative;
                
                &:nth-child(1) {
                    height: unset;
                    display: block;
                }
            }
            .video-wrap {
                top: 130px;
                right: 0;
                left: 0;
            }
        }
        .quality-content {
            max-width: 100%;
            margin-left: 0;
            text-align: center;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    /*-- End Quality --*/
    /*----- End About CSS ------*/

    /*----- Service Details CSS ------*/
    /*-- Service Details --*/
    .service-details-area {
        .service-details-item {
            .service-details-left {
                margin-bottom: 30px;
            }
            .service-details-img {
                h3 {
                    margin-bottom: 20px;
                    font-size: 25px;
                    padding-bottom: 15px;
                }
            }
        }
    }
    .blog-area-two {
        padding-bottom: 20px;
    }
    /*-- End Service Details --*/
    /*----- End Service Details CSS ------*/

    /*----- Blog Details CSS ------*/
    .blog-details-item {
        .blog-details-img {
            margin-bottom: 10px;

            .date {
                top: 15px;
                left: 15px;
            }
            img {
                margin-bottom: 20px;
            }
            ul {
                li {
                    margin-right: 10px;
                    margin-bottom: 6px;
                }
            }
        }
        .blog-details-head {
            margin-bottom: 30px;

            .row {
                margin-bottom: 0;

                img {
                    margin-bottom: 20px;
                }
            }
            h2 {
                font-size: 25px;
                margin-bottom: 10px;
            }
        }
        .blog-details-nav {
            padding-bottom: 50px;

            ul {
                li {
                    a {
                        font-size: $all-size;
                        padding: 5px 15px;                   
                    }
                }
            }
        }
        .blog-details-form {
            padding: 35px 15px 40px;

            h3 {
                font-size: 20px;
                margin-bottom: 25px;
            }
            .blog-details-form-btn {
                font-size: $all-size;
            }
        }
        .blog-details-search {
            margin-bottom: 30px;
        }
        .blog-details-recent {
            margin-bottom: 30px;

            .blog-details-inner {
                padding-left: 115px;

                ul {
                    li {
                        flex: 0 0 45%;
                        max-width: 45%;
                        font-size: 12px;

                        &:last-child {
                            flex: 0 0 55%;
                            max-width: 55%;
                        }
                    }
                }
            }
        }
        .blog-details-category {
            margin-bottom: 30px;

            ul {
                li {
                    a {
                        font-size: 14px;

                        i {
                            top: 2px;
                        }
                    }
                }
            }
        }
        .blog-details-gallery {
            margin-bottom: 30px;

            ul {
                li {
                    flex: 0 0 33.3333333333%;
                    max-width: 33.3333333333%;
                    margin-right: 0;
                }
            }
        }
    }
    .blog-area-three {
        padding-bottom: 50px;
    }
    /*----- End Blog Details CSS ------*/

    /*----- Cart CSS -----*/
    .cart-wrap {
        .table {
            .thead {
                tr {
                    .table-head  {
                        font-size: 12px;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        padding-right: 5px;
                        padding-left: 5px;
                    }
                }
            }
            tr {
                td {
                    font-size: $all-size;
                }
            }
        }
        .shop-back {
            margin-bottom: 20px;
        }
        .total-shopping {
            h2 {
                font-size: 25px;
            }
            h3 {
                font-size: 16px;
            }
            a {
                font-size: 15px;
                padding: 14px 40px;
            }
        }
    }
    /*----- End Cart CSS -----*/

    /*----- Checkout CSS -----*/
    .checkout-area {
        .checkout-btn {
            font-size: $all-size;
        }
    }
    .checkout-item {
        h2 {
            font-size: 25px;
            margin-bottom: 35px;
        }
        .checkout-one {
            padding-bottom: 10px;
            padding-left: 5px;
            padding-right: 5px;

            label {
                font-size: 13px;
            }
            .form-group {
                .form-control {
                    width: 65%;
                }
            }
        }
        .checkout-two {
            padding-bottom: 40px;
            padding-left: 10px;
            padding-right: 10px;

            h3 {
                font-size: 20px;
            }
            p {
                font-size: 14px;
            }
            .form-check {
                span {
                    font-size: 14px;
                }
                .form-check-input {
                    margin-top: 2px;
                }
            }
        }
    }
    /*----- End Checkout CSS -----*/

    /*----- Sign Up CSS -----*/
    .signup-item {
        h2 {
            margin-bottom: 10px;
            font-size: 30px;
        }
        p {
            font-size: 14px;
            margin-bottom: 20px;
        }
        h3 {
            font-size: 15px;
            margin-right: 6px;
        }
        ul {
            li {
                a {
                    width: 30px;
                    height: 30px;
                    line-height: 35px;
                }
            }
        }
        .form-group {
            label {
                font-size: 14px;
            }
            .form-control {
                height: 45px;
            }
        }
        .signup-btn {
            padding: 12px 40px;
        }
    }
    /*----- End Sign Up CSS -----*/

    /*----- Sign In CSS -----*/
    .login-item {
        padding: 30px 25px 30px 25px;

        .form-group {
            label {
                font-size: 14px;
            }
        }
        .login-btn {
            font-size: 14px;
            padding: 12px 35px;
        }
    }
    /*----- End Sign In CSS -----*/

    /*----- FAQ CSS -----*/
    .faq-area {
        .faq-head {
            h2 {
                margin-bottom: 25px;
                font-size: 25px;
            }
        }
        .faq-wrap {
            margin-bottom: 30px;
        }
        .accordion { 
            p {
                font-size: $all-size;
                padding: 20px 25px 15px 20px;
            }
            a {
                font-size: 16px;
                padding: 15px 25px 15px 18px;
            }
        }
    }
    /*----- End FAQ CSS -----*/

    /*----- Coming Soon CSS -----*/
    .coming-item {
        h1 {
            font-size: 35px;
            margin-bottom: 18px;
        }
        p {
            margin-bottom: 25px;
        }
        .coming-wrap {
            margin-bottom: 0;

            .coming-inner{
                padding-top: 10px;
                padding-bottom: 8px;
            
                h3{
                    font-size: 30px;
                    margin-bottom: 0;
                }
                p{
                    font-size: 14px;
                }
            }
        }
    }
    /*----- End Coming Soon CSS -----*/

    /*----- Terms & Conditions CSS -----*/
    .privacy-area {
        padding-bottom: 0;
    }
    .privacy-item {
        margin-bottom: 50px;

        h2 {
            font-size: 20px;
            margin-bottom: 12px;
        }
    }
    /*----- End Terms & Conditions CSS -----*/

    /*----- Contact CSS -----*/
    .contact-area {
        text-align: center;

        .contact-left {
            h3 {
                font-size: 20px;
                margin-bottom: 20px;
            }
        }
        .contact-right {
            h3 {
                font-size: 20px;
                margin-bottom: 20px;
            }
            .contact-btn {
                font-size: 14px;
            }
        }
    }
    /*----- End Contact CSS -----*/

}

@media only screen and (min-width : 768px) and (max-width : 991px) {

    $all-size: 14px;
    /*-- Default CSS --*/
    body {
        font-size: $all-size;
    }
    .ptb-100 {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .pt-100 {
        padding-top: 70px;
    }
    .pb-70 {
        padding-bottom: 40px;
    }
    .pb-100 {
        padding-bottom: 70px;
    }
    /*-- End Default CSS --*/

    /*------ Home One CSS ------*/
    /*-- Navbar --*/
    .mean-container .mean-nav .navbar-nav {
        height: 350px;
        overflow-y: scroll;
    }
    .mean-container .mean-bar {
        background-color: #fff;
    }
    .mobile-nav .logo {
        top: 9px;
        max-width: 105px;
    }
    .mean-container a.meanmenu-reveal span {
        background: #fdb819;
        position: relative;
        top: 8px;
        margin-top: -6px;
    }
    .mean-container a.meanmenu-reveal {
        color: #fdb819;
    }
    .mobile-nav.mean-container .mean-nav ul li a.active {
        color: #fdb819;
    }
    /*-- End Navbar --*/

    /*-- Banner --*/
    .banner-area {
        height: 100%;
        text-align: center;
        padding-top: 145px;
        padding-bottom: 100px;

        &:before {
            display: none;
        }
        .banner-img {
            img {
                &:nth-child(1) {
                    max-width: 100%;
                    top: 250px;
                    left: 0;
                    right: 0;
                }
                &:nth-child(2) {
                    right: 0;
                    top: 0;
                    max-width: 100%;
                    position: relative;
                    margin-bottom: 20px;
                }
            }
        }
        .banner-text {
            max-width: 100%;
            margin-top: 0;

            h1 {
                margin-bottom: 20px;
                font-size: 42px;
            }
            p {
                margin-bottom: 32px;
            }
        }
    }
    .cmn-btn {
        a {
            padding: 10px 12px 12px;
        }
        .banner-btn-left {
            margin-right: 12px;
        }
    }
    /*-- End Banner --*/

    /*-- Address --*/
    .address-area {
        padding-top: 70px;
        padding-bottom: 40px;
        box-shadow: 0px 10px 20px 0px #dddddd8a;

        .row {
            margin-top: 0;
            box-shadow: none;
        }
    }
    .address-item {
        margin-top: 0;

        &:before {
            display: none;
        }
        i {
            width: 70px;
            height: 70px;
            line-height: 70px;
            font-size: 30px;
            box-shadow: 0px 0px 20px 0px #dddddd78;
            margin-bottom: 20px;
        }
    }
    /*-- End Address --*/

    /*-- Process --*/
    .section-title {
        margin-bottom: 40px;

        h2 {
            font-size: 25px;
        }
    }
    .process-area {
        .process-shape {
            max-width: 100%;
        }
    }
    .process-item {
        margin-bottom: 30px;

        .process-one {
            margin-bottom: 30px;
        }
        .process-two {
            margin-bottom: 30px;
        }

    }
    /*-- End Process --*/

    /*-- Quality --*/
    .quality-area {
        &:before {
            display: none;
        }
        &:after {
            display: none;
        }
        .quality-img {
            img {
                position: relative;
    
                &:nth-child(1) {
                    display: none;
                }
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    bottom: -70px;
                    left: 0;
                    max-width: 100%;
                    z-index: 1;
                }
            }
        }
    }
    .quality-content {
        max-width: 100%;
        margin-left: 0;
        padding-top: 50px;
        padding-bottom: 70px;
        text-align: center;

        .section-title {
            text-align: center;

            p {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    /*-- End Quality --*/

    /*-- Work --*/
    .sorting-menu {
        margin-bottom: 40px;

        ul {
            li {
                margin-right: 2px;
                margin-left: 2px;
                margin-bottom: 7px;
            }
        }
    }
    .work-area {
        .work-item {
            img {
                width: 100%;
            }
            .cmn-btn {
                a {
                    padding: 11px 11px 12px 20px;
                }
            }
        }
    }
    /*-- End Work --*/

    /*-- Feature --*/
    .feature-area {
        background-color: #000000;
        position: relative;
        overflow: hidden;

        .feature-img {
            background-image: unset;

            &:before {
                display: none;
            }
            img {
                display: block;
            }
        }
        .feature-shape {
            img {
                right: 0;
            }
        }
        .feature-content {
            max-width: 100%;
            padding-top: 30px;
            padding-bottom: 70px;
            padding-left: 15px;
            padding-right: 15px;

            h2 {
                font-size: 25px;
                text-align: center;
            }
            ul {
                li {
                    margin-bottom: 40px;

                    &:nth-child(1) {
                        margin-left: 0;
                    }
                    &:nth-child(2) {
                        margin-left: 0;
                    }
                    &:nth-child(3) {
                        margin-left: 0;
                    }
                }
            }
        }
    }
    /*-- End Feature --*/

    /*-- Review --*/
    .review-area {
        text-align: center;
        padding-top: 70px;

        .review-img {
            img {
                &:nth-child(1) {
                    display: none;
                }
            }
        }
        .owl-theme .owl-nav {
            position: relative;
            margin-top: 15px;
        }
        .review-slider {
            max-width: 100%;
            margin-right: auto;
            padding-right: 0;
            
            .review-item {
                margin-bottom: 10px;

                i {
                    margin-bottom: 20px;
                }
                p {
                    font-size: 16px;
                    margin-bottom: 30px;
                }
                .review-inner {
                    padding-left: 0;

                    img {
                        position: relative;
                        display: inline-block;
                        top: 0;
                        left: 0;
                        margin-bottom: 12px;
                    }
                }
            }
        }
        .video-wrap {
            position: relative;
            top: 0;
            right: 0;
            left: 0;
        
            a {
                width: 110px;
                height: 110px;
                line-height: 125px;

                &:before {
                    width: 110px;
                    height: 110px;
                }
                &:after {
                    width: 110px;
                    height: 110px;
                }
            }
        }
    }
    /*-- End Review --*/

    /*-- Pricing --*/
    .pricing-item {
        padding-bottom: 40px;

        .pricing-top {
            h3 {
                font-size: 28px;
            }
            p {
                font-size: 30px;
            }
        }
        .pricing-bottom {
            ul {
                margin-bottom: 30px;

                li {
                    font-size: 14px;
                    
                    i {
                        font-size: 17px;
                    }
                }
            }
        }
    }
    /*-- End Pricing --*/

    /*-- Blog --*/
    .blog-area {
        padding-bottom: 140px;
    }
    .blog-item {
        .blog-bottom {
            padding: 22px 20px 26px;

            ul {

                li {
                    flex: 0 0 60%;
                    max-width: 60%;

                    img {
                        margin-right: 3px;
                    }
                    &:last-child {
                        flex: 0 0 40%;
                        max-width: 40%;
                    }
                }
            }
        }
    }
    /*-- End Blog --*/

    /*-- Footer --*/
    .subscribe-area {
        padding-top: 30px;
        padding-bottom: 40px;
        top: -70px;
        padding-right: 15px;
        padding-left: 15px;

        h2 {
            font-size: 25px;
        }
        form {
            .form-control {
                padding-left: 15px;
                font-size: 14px;
            }
            .subscribe-btn {
                padding: 12px 18px 11px;
                font-size: 14px;
            }
        }
    }
    footer {
        .footer-img {
            max-width: 100%;
        }
    }
    .copyright-area {
        padding-top: 25px;
        padding-bottom: 25px;
        margin-top: 20px;
        text-align: center;

        .copyright-item {
            p {
                font-size: $all-size;
                margin-bottom: 10px;
            }
            ul {

                li {
                    a {
                        font-size: $all-size;
                    }
                }
            }
        }
        .copyright-right {
            text-align: center;
        }
    }
    /*-- End Footer --*/
    /*----- End Home One CSS ------*/

    /*----- Home Two CSS ------*/
    /*-- Banner --*/
    .banner-area-two {
        &:before {
            display: none;
        }
        &:after {
            display: none;
        }
        .banner-text {
            z-index: 1;
            
            h1 {
                font-size: 38px;
            }
        }
    }
    /*-- End Banner --*/

    /*-- Quality --*/
    .quality-area-two {
        padding-top: 70px;
        
        .quality-img {
            text-align: center;

            img {
                &:nth-child(3) {
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin-left: auto;
                    margin-right: auto;
                    max-width: 100%;
                    z-index: 1;
                }
            }
        }
    }
    .process-area-two {
        .process-item {
            .process-img {
                img {
                    &:last-child {
                        top: -25px;
                    }
                }
            }
        }
    }
    /*-- End Quality --*/
    /*----- End Home Two CSS ------*/

    /*----- Home Three CSS ------*/
    /*-- Banner --*/
    .banner-area-three {
        height: 100%;
        text-align: center;

        .banner-text {
            margin-top: 0;
            padding-top: 155px;
            padding-bottom: 180px;
            margin-left: auto;
            margin-right: auto;

            h1 {
                margin-bottom: 20px;
                font-size: 50px;
            }
            p {
                margin-bottom: 34px;
            }
        }
        .video-wrap {
            position: relative;
            top: -140px;
            right: 0;
            left: 0;

            a {
                width: 90px;
                height: 90px;
                line-height: 100px;
                font-size: 55px;
                
                &:before {
                    width: 90px;
                    height: 90px;
                }
                &:after {
                    width: 90px;
                    height: 90px;
                }
            }
        }
    }
    .banner-slider {
        &.owl-theme .owl-dots {
            bottom: 0;
        }
        .owl-prev {
            display: none !important;
        }
        .owl-next {
            display: none !important;
        }
    }

    /*-- End Banner --*/

    /*-- Banner Call --*/
    .banner-call {
        padding-top: 30px;
        padding-bottom: 35px;
        margin-top: -10px;
        text-align: center;

        &:before {
            clip-path: none;
        }
        .banner-call-content {
            h3 {
                margin-bottom: 15px;
            }
        }
        .cmn-btn {
            text-align: center;
        }
    }
    /*-- End Banner Call --*/

    /*-- Quality --*/
    .quality-area-three {
        .quality-img {
            text-align: center;

            img {
                &:nth-child(3) {
                    padding-top: 70px;
                    bottom: 0;
                    max-width: 100%;
                    margin-bottom: -30px;
                    text-align: center;
                }
            }
        }
    }
    /*-- End Quality --*/
    /*----- End Home Three CSS ------*/

    /*----- About CSS ------*/
    /*-- Page Title --*/
    .page-title-area {
        padding-top: 140px;
        padding-bottom: 95px;
        overflow: hidden;

        img {
            max-width: 100%;
        }
        .page-title-content {
            h2 {
                font-size: 35px;
                margin-bottom: 5px;
            }
            ul {

                li {
                    font-size: $all-size;
                }
            }
        }
    }
    /*-- End Page Title --*/

    /*-- Quality --*/
    .quality-area-four {
        .quality-img {
            padding-left: 15px;
            padding-right: 15px;
            bottom: 0;  
            margin-bottom: 70px;

            img {
                position: relative;
                
                &:nth-child(1) {
                    height: unset;
                    display: block;
                }
            }
            .video-wrap {
                top: 165px;
                right: 0;
                left: 0;
            }
        }
        .quality-content {
            max-width: 100%;
            margin-left: 0;
            text-align: center;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    /*-- End Quality --*/
    /*----- End About CSS ------*/
    
    /*----- Service Details CSS ------*/
    /*-- Service Details --*/
    .service-details-area {
        .service-details-item {
            .service-details-left {
                margin-bottom: 30px;
            }
            .service-details-img {
                h3 {
                    margin-bottom: 20px;
                    font-size: 25px;
                    padding-bottom: 15px;
                }
            }
        }
    }
    .blog-area-two {
        padding-bottom: 20px;
    }
    /*-- End Service Details --*/
    /*----- End Service Details CSS ------*/

    /*----- Blog Details CSS ------*/
    .blog-details-item {
        .blog-details-img {
            margin-bottom: 10px;

            .date {
                top: 15px;
                left: 15px;
            }
            img {
                margin-bottom: 20px;
            }
            ul {
                li {
                    margin-right: 10px;
                    margin-bottom: 6px;
                }
            }
        }
        .blog-details-head {
            margin-bottom: 30px;

            .row {
                margin-bottom: 0;

                img {
                    margin-bottom: 20px;
                }
            }
            h2 {
                font-size: 25px;
                margin-bottom: 10px;
            }
        }
        .blog-details-nav {
            padding-bottom: 50px;

            ul {
                li {
                    a {
                        font-size: $all-size;
                        padding: 5px 15px;                   
                    }
                }
            }
        }
        .blog-details-form {
            padding: 35px 15px 40px;

            h3 {
                font-size: 20px;
                margin-bottom: 25px;
            }
            .blog-details-form-btn {
                font-size: $all-size;
            }
        }
        .blog-details-search {
            margin-bottom: 30px;
        }
        .blog-details-category {
            margin-bottom: 30px;

            ul {
                li {
                    a {
                        font-size: 14px;

                        i {
                            top: 2px;
                        }
                    }
                }
            }
        }
        .blog-details-gallery {
            margin-bottom: 30px;

            ul {
                li {
                    margin-right: 0;
                    text-align: center;
                }
            }
        }
    }
    .blog-area-three {
        padding-bottom: 50px;
    }
    /*----- End Blog Details CSS ------*/

    /*----- Checkout CSS -----*/
    .checkout-item {
        h2 {
            font-size: 28px;
        }
    }
    /*----- End Checkout CSS -----*/

    /*----- Coming Soon CSS -----*/
    .coming-item {
        h1 {
            font-size: 35px;
            margin-bottom: 18px;
        }
        p {
            margin-bottom: 25px;
        }
        .coming-wrap {
            margin-bottom: 0;

            .coming-inner{
                padding-top: 10px;
                padding-bottom: 8px;
            
                h3{
                    font-size: 30px;
                    margin-bottom: 0;
                }
                p{
                    font-size: 14px;
                }
            }
        }
    }
    /*----- End Coming Soon CSS -----*/

    /*----- Terms & Conditions CSS -----*/
    .privacy-area {
        padding-bottom: 20px;
    }
    .privacy-item {
        margin-bottom: 50px;

        h2 {
            font-size: 20px;
            margin-bottom: 12px;
        }
    }
    /*----- End Terms & Conditions CSS -----*/

}

@media only screen and (min-width : 1199px) and (max-width : 1300px) {

    .main-nav {
        nav {
            .cmn-btn {
                width: 18%;
            }
        }
    }
    .quality-area {
        .quality-img {
            img {
                &:nth-child(3) {
                    max-width: 620px;
                }
            }
        }
    }
    .review-area {
        .review-slider {
            max-width: 560px;
        }
    }

}

@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .main-nav nav .cmn-btn {
        width: 16%;
    }
    .main-nav nav .cmn-btn a {
        padding: 6px 11px 10px;
    }
    .banner-area:before {
        display: none;
    }
    .banner-area .banner-text h1 {
        font-size: 66px;
    }
    .banner-area .banner-img img:nth-child(2) {
        max-width: 345px;
        top: 305px;
    }
    .quality-area .quality-img {
        bottom: -45px;
        max-width: 455px;
    }
    .banner-area .banner-text h1 {
        font-size: 58px;
    }
    .banner-area .banner-text p {
        padding-right: 50px;
    }
    .quality-img {
        img {
            position: absolute;

            &:nth-child(3) {
                bottom: -50px;
                left: 0;
                max-width: 100%;
                z-index: 1;
            }
        }
    }
    .quality-area .quality-img img:nth-child(2) {
        left: -90px;
    }
    .banner-slider .owl-prev {
        display: none !important; 
    }
    .banner-slider .owl-next {
        display: none !important; 
    }
    .banner-call:before {
        clip-path: none;
    }
    .quality-area-four .quality-img {
        bottom: 0;
        max-width: 480px;
    }
    .quality-area-four .quality-img .video-wrap {
        top: 110px;
    }
    .quality-area-four .quality-content {
        margin-left: 60px;
    }
    .blog-details-item .blog-details-recent .blog-details-inner ul li {
        font-size: 12px;
        flex: 0 0 45%;
        max-width: 45%;
    }
    .blog-details-item .blog-details-recent .blog-details-inner ul li:last-child {
        flex: 0 0 55%;
        max-width: 55%;
    }
    .checkout-item .checkout-one {
        padding-left: 15px;
        padding-right: 15px;
    }
    .checkout-item .checkout-two {
        padding-left: 15px;
        padding-right: 15px;
    }
    .blog-item .blog-bottom {
        padding: 22px 10px 26px;
    }
    .blog-item .blog-bottom h3 {
        font-size: 18px;
    }
    .blog-item .blog-bottom ul li {
        flex: 0 0 60%;
        max-width: 60%;
    }
    .blog-item .blog-bottom ul li:last-child {
        flex: 0 0 40%;
        max-width: 40%;
    }
    .review-area {
        .container-fluid {
            padding-left: 15px !important;
        }
    }
    .review-area .review-slider {
        max-width: 490px;
    }
    .feature-area .feature-content {
        max-width: 460px;
    }
    .feature-area .feature-img img {
        max-width: 600px;
    }
    .banner-area-two:before {
        display: none;
    }
    .feature-area .feature-img:before {
        right: -129px;
        top: -155px;
        width: 240px;
        height: 885px;
        transform: rotate(-15deg);
    }
    .banner-area .banner-img img:nth-child(2) {
        right: 45px;
    }
    .quality-area .quality-img img:nth-child(3) {
        bottom: -35px;
        left: 0;
        max-width: 450px;
        z-index: 1;
    }
    .quality-area-two {
        .quality-img {
            img {
                &:nth-child(3) {
                    bottom: 0;
                    left: 40px;
                    max-width: 395px;
                    z-index: 1;
                }
            }
        }
    }
    .quality-area-three {
        .quality-img {
            img {
                &:nth-child(3) {
                    bottom: 0;
                    max-width: 405px;
                    left: 35px;
                }
            }
        }
    }
}
@media only screen and (min-width : 576px) and (max-width : 767px) {
    .blog-item .blog-bottom ul li a {
        font-size: 12px;
    }
    .blog-item .blog-bottom {
        padding: 22px 12px 26px;
    }
    .blog-item .blog-bottom h3 {
        font-size: 15px;
    }
    .pricing-item .pricing-top h3 {
        font-size: 25px;
    }
    .parts-item h3 {
        font-size: 18px;
    }
}
@media only screen and (min-width: 1800px) {
    .banner-area .banner-img img:nth-child(2) {
        top: 290px;
        max-width: 625px;
    }
    .banner-area-two .banner-img img:nth-child(2) {
        top: 225px;
        max-width: 680px;
    }
    .quality-area-four .quality-img .video-wrap {
        right: -40px;
    }
    .quality-area .quality-img img:nth-child(2) {
        left: -148px;
    }
    .quality-area .quality-img img:nth-child(3) {
        max-width: 855px;
    }
    .quality-area-two {
        .quality-img {
            img {
                &:nth-child(3) {
                    bottom: 0;
                    left: 345px;
                    max-width: 395px;
                    z-index: 1;
                }
            }
        }
    }
    .quality-area-three {
        .quality-img {
            img {
                &:nth-child(3) {
                    bottom: 20px;
                    left: 140px;
                    max-width: 620px;
                }
            }
        }
    }
}

@media (min-width: 1300px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1320px;
        width: 100%;
    }
}