    <!-- Page Title -->
<div class="page-title-area">
    <img src="~/assets/img/home-one/footer-car.png" alt="Title">
    <div class="container">
        <div class="page-title-content">
            <h2>Hakkımızda</h2>
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index">Ana Sayfa</a>
                </li>
                <li>
                    <i class='bx bx-chevron-right'></i>
                </li>
                <li>Hakkımızda</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title -->
<!-- Service -->
<section class="pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">service</span>
            <h2>Servislerimiz</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <a href="service-details.html">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="~/assets/img/home-one/service/1.jpg" alt="Service">
                        </div>
                        <div class="service-content">
                            <i class='bx bx-car'></i>
                            <i class='bx bx-car service-icon'></i>
                            <h3>Lastik Servisi</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-4">
                <a href="service-details.html">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="~/assets/img/home-one/service/2.jpg" alt="Service">
                        </div>
                        <div class="service-content">
                            <i class='bx bxs-wrench'></i>
                            <i class='bx bxs-wrench service-icon'></i>
                            <h3>Motor Servisi</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-4">
                <a href="service-details.html">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="~/assets/img/home-one/service/3.jpg" alt="Service">
                        </div>
                        <div class="service-content">
                            <i class='bx bxs-car-garage'></i>
                            <i class='bx bxs-car-garage service-icon'></i>
                            <h3>Bakım Servisi</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-4">
                <a href="service-details.html">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="~/assets/img/home-one/service/4.jpg" alt="Service">
                        </div>
                        <div class="service-content">
                            <i class='bx bxs-car-mechanic'></i>
                            <i class='bx bxs-car-mechanic service-icon'></i>
                            <h3>Motor Servisi</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-4">
                <a href="service-details.html">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="~/assets/img/home-one/service/5.jpg" alt="Service">
                        </div>
                        <div class="service-content">
                            <i class='bx bxs-car-crash'></i>
                            <i class='bx bxs-car-crash service-icon'></i>
                            <h3>Sistem Servisi</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-4">
                <a href="service-details.html">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="~/assets/img/home-one/service/6.jpg" alt="Service">
                        </div>
                        <div class="service-content">
                            <i class='bx bxs-car-wash'></i>
                            <i class='bx bxs-car-wash service-icon'></i>
                            <h3>Yıkama Servisi</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End Service -->
<!-- Feature -->
<div class="feature-area">
    <div class="feature-shape">
        <img src="~/assets/img/home-one/feature-shape.png" alt="Feature">
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="feature-img">
                    <img src="~/assets/img/home-one/feature-bg.jpg" alt="Feature">
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="feature-content">
                    <h2>Özelliklerimiz</h2>
                    <ul>
                        <li>
                            <i class='bx bx-box'></i>
                            <h3>Güvenilir ve Kaliteli Çalışma</h3>
                            <p>Lorem ipsum the dolor sit amet, consectetur adising elit, sed do.the dolor sit amet, consectetur </p>
                        </li>
                        <li>
                            <i class='bx bxs-truck'></i>
                            <h3>Hızlı Servis Teslimatı</h3>
                            <p>Lorem ipsum the dolor sit amet, consectetur adising elit, sed do.the dolor sit amet, consectetur </p>
                        </li>
                        <li>
                            <i class='bx bx-money'></i>
                            <h3>Para İadesi Garantisi</h3>
                            <p>Lorem ipsum the dolor sit amet, consectetur adising elit, sed do.the dolor sit amet, consectetur </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Feature -->
<!-- Engineer -->
<section class="engineer-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">engineer</span>
            <h2>Teknisyenlerimizle Tanışın</h2>
        </div>
        <div class="engineer-slider owl-theme owl-carousel">
            <div class="engineer-item">
                <img src="~/assets/img/home-one/engineer/1.jpg" alt="Engineer">
                <div class="engineer-bottom">
                    <h3>Jerry Hudson</h3>
                    <span>Machanical Engineer</span>
                </div>
            </div>
            <div class="engineer-item">
                <img src="~/assets/img/home-one/engineer/2.jpg" alt="Engineer">
                <div class="engineer-bottom">
                    <h3>Tom Henry</h3>
                    <span>System Engineer</span>
                </div>
            </div>
            <div class="engineer-item">
                <img src="~/assets/img/home-one/engineer/3.jpg" alt="Engineer">
                <div class="engineer-bottom">
                    <h3>Jac Jacson</h3>
                    <span>Head Engineer</span>
                </div>
            </div>
            <div class="engineer-item">
                <img src="~/assets/img/home-one/engineer/4.jpg" alt="Engineer">
                <div class="engineer-bottom">
                    <h3>Micheal Shon</h3>
                    <span>Automobile Engineer</span>
                </div>
            </div>
            <div class="engineer-item">
                <img src="~/assets/img/home-one/engineer/1.jpg" alt="Engineer">
                <div class="engineer-bottom">
                    <h3>Jerry Hudson</h3>
                    <span>Machanical Engineer</span>
                </div>
            </div>
            <div class="engineer-item">
                <img src="~/assets/img/home-one/engineer/2.jpg" alt="Engineer">
                <div class="engineer-bottom">
                    <h3>Tom Henry</h3>
                    <span>System Engineer</span>
                </div>
            </div>
            <div class="engineer-item">
                <img src="~/assets/img/home-one/engineer/3.jpg" alt="Engineer">
                <div class="engineer-bottom">
                    <h3>Jac Jacson</h3>
                    <span>Head Engineer</span>
                </div>
            </div>
            <div class="engineer-item">
                <img src="~/assets/img/home-one/engineer/4.jpg" alt="Engineer">
                <div class="engineer-bottom">
                    <h3>Micheal Shon</h3>
                    <span>Automobile Engineer</span>
                </div>
            </div>
            <div class="engineer-item">
                <img src="~/assets/img/home-one/engineer/1.jpg" alt="Engineer">
                <div class="engineer-bottom">
                    <h3>Jerry Hudson</h3>
                    <span>Machanical Engineer</span>
                </div>
            </div>
            <div class="engineer-item">
                <img src="~/assets/img/home-one/engineer/2.jpg" alt="Engineer">
                <div class="engineer-bottom">
                    <h3>Tom Henry</h3>
                    <span>System Engineer</span>
                </div>
            </div>
            <div class="engineer-item">
                <img src="~/assets/img/home-one/engineer/3.jpg" alt="Engineer">
                <div class="engineer-bottom">
                    <h3>Jac Jacson</h3>
                    <span>Head Engineer</span>
                </div>
            </div>
            <div class="engineer-item">
                <img src="~/assets/img/home-one/engineer/4.jpg" alt="Engineer">
                <div class="engineer-bottom">
                    <h3>Micheal Shon</h3>
                    <span>Automobile Engineer</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Engineer -->
