@{
    ViewData["Title"] = "Home Page";
}


 <!-- Banner -->
        <div class="banner-area">
            <div class="banner-img">
                <img src="assets/img/home-one/banner-tyre.png" alt="Banner">
                <img class="wow fadeInRightBig" src="assets/img/home-one/banner-car.png" alt="Banner">
            </div>
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="banner-text">
                            <h1>Get Your Best Auto Services</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                            <div class="cmn-btn">
                                <a class="banner-btn-left" href="service-details.html">
                                    <i class='bx bx-meteor'></i>
                                    Explore Service
                                </a>
                                <a class="banner-btn-right" href="tel:+123456789">
                                    <i class='bx bx-phone-call' ></i>
                                    +123456789
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner -->

        <!-- Address -->
        <div class="address-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <div class="address-item">
                            <i class='bx bxs-paper-plane'></i>
                            <h3>Location</h3>
                            <span>Quadra, Toronto, Victiria Canada</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="address-item">
                            <i class='bx bxs-phone-call'></i>
                            <h3>Call Us</h3>
                            <a href="tel:+0755543332322">+07 5554 3332 322</a>
                            <a href="tel:+0525543452892">+05 2554 3452 892</a>
                        </div>
                    </div>
                    <div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4">
                        <div class="address-item address-one">
                            <i class='bx bxs-time-five'></i>
                            <h3>Schedule</h3>
                            <span>Monday to Sunday</span>
                            <span>10:00 AM to 6.00 PM</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Address -->

        <!-- Process -->
        <section class="process-area pt-100 pb-70">
            <div class="process-shape">
                <img src="assets/img/home-one/car-shadow.png" alt="Shape">
            </div>
            <div class="section-title">
                <span class="sub-title">process</span>
                <h2>Our Working Process</h2>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="process-item">
                            <div class="process-inner process-one">
                                <i class='bx bxs-car-mechanic'></i>
                                <h3>Identify Problems</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            </div>
                            <div class="process-inner">
                                <i class='bx bxs-car-garage'></i>
                                <h3>Start Servicing</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="process-item">
                            <div class="process-img">
                                <img src="assets/img/home-one/tyre.png" alt="Process">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="process-item">
                            <div class="process-inner process-two">
                                <i class='bx bxs-car-crash'></i>
                                <h3>Trial For Make Sure</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            </div>
                            <div class="process-inner process-three">
                                <i class='bx bxs-car-wash'></i>
                                <h3>Deliver Service</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Process -->