  <!-- Page Title -->
<div class="page-title-area">
    <img src="~/assets/img/home-one/footer-car.png" alt="Title">
    <div class="container">
        <div class="page-title-content">
            <h2>Servisler</h2>
            <ul>
                <li>
                    <a asp-controller="home" asp-action="Index">Ana Sayfa</a>
                </li>
                <li>
                    <i class='bx bx-chevron-right'></i>
                </li>
                <li>Servisler</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title -->
<!-- Service -->
<section class="pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <a href="service-details.html">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="~/assets/img/home-one/service/1.jpg" alt="Service">
                        </div>
                        <div class="service-content">
                            <i class='bx bx-car'></i>
                            <i class='bx bx-car service-icon'></i>
                            <h3>Lastik Servisi</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-4">
                <a href="service-details.html">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="~/assets/img/home-one/service/2.jpg" alt="Service">
                        </div>
                        <div class="service-content">
                            <i class='bx bxs-wrench'></i>
                            <i class='bx bxs-wrench service-icon'></i>
                            <h3>Motor Servisi</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-4">
                <a href="service-details.html">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="~/assets/img/home-one/service/3.jpg" alt="Service">
                        </div>
                        <div class="service-content">
                            <i class='bx bxs-car-garage'></i>
                            <i class='bx bxs-car-garage service-icon'></i>
                            <h3>Bakım Servisi</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-4">
                <a href="service-details.html">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="~/assets/img/home-one/service/4.jpg" alt="Service">
                        </div>
                        <div class="service-content">
                            <i class='bx bxs-car-mechanic'></i>
                            <i class='bx bxs-car-mechanic service-icon'></i>
                            <h3>Motor Servisi</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-4">
                <a href="service-details.html">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="~/assets/img/home-one/service/5.jpg" alt="Service">
                        </div>
                        <div class="service-content">
                            <i class='bx bxs-car-crash'></i>
                            <i class='bx bxs-car-crash service-icon'></i>
                            <h3>Sistem Servisi</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-4">
                <a href="service-details.html">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="~/assets/img/home-one/service/6.jpg" alt="Service">
                        </div>
                        <div class="service-content">
                            <i class='bx bxs-car-wash'></i>
                            <i class='bx bxs-car-wash service-icon'></i>
                            <h3>Yıkama Servisi</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End Service -->
