<!-- Page Title -->
<div class="page-title-area">
    <img src="~/assets/img/home-one/footer-car.png" alt="Title">
    <div class="container">
        <div class="page-title-content">
            <h2>Teknisyenler</h2>
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index">Ana Sayfa</a>
                </li>
                <li>
                    <i class='bx bx-chevron-right'></i>
                </li>
                <li>Teknisyenler</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title -->
<!-- Engineer -->
<section class="engineer-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="engineer-item">
                    <img src="~/assets/img/home-one/engineer/1.jpg" alt="Engineer">
                    <div class="engineer-bottom">
                        <h3>Jerry Hudson</h3>
                        <span>Machanical Engineer</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="engineer-item">
                    <img src="~/assets/img/home-one/engineer/2.jpg" alt="Engineer">
                    <div class="engineer-bottom">
                        <h3>Tom Henry</h3>
                        <span>System Engineer</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="engineer-item">
                    <img src="~/assets/img/home-one/engineer/3.jpg" alt="Engineer">
                    <div class="engineer-bottom">
                        <h3>Jac Jacson</h3>
                        <span>Head Engineer</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="engineer-item">
                    <img src="~/assets/img/home-one/engineer/4.jpg" alt="Engineer">
                    <div class="engineer-bottom">
                        <h3>Steve Smith</h3>
                        <span>Automobile Engineer</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="engineer-item">
                    <img src="~/assets/img/home-one/engineer/5.jpg" alt="Engineer">
                    <div class="engineer-bottom">
                        <h3>John Hope</h3>
                        <span>Machanical Engineer</span>
                    </div>
                </div>
            </div>         
        </div>
    </div>
</section>
<!-- End Engineer -->
