@{
    ViewBag.Title = "Şifremi Unuttum";
}

<!-- Page Title -->
        <div class="page-title-area">
            <img src="~/assets/img/home-one/footer-car.png" alt="Title">
            <div class="container">
                <div class="page-title-content">
                    <h2>Reset Password</h2>
                    <ul>
                        <li>
                            <a asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            <i class='bx bx-chevron-right'></i>
                        </li>
                        <li>Reset Password</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Page Title -->

         <div class="login-area ptb-100">
            <div class="container">                 
                <div class="user-actions mb-10">    
                    <div class="text-info">@ViewBag.Message</div>
                <div asp-validation-summary="All" class="text-danger"></div> <!-- validation mesajlarını göstermeye yarar.-->
            </div>
                <div class="login-item">
                    <form method="post" asp-controller="Account" asp-action="ResetPassword">
                        <div class="form-group">
                             <label for="email">Email</label>
                             <input type="email" class="form-control" placeholder="Email" id="email" name="email"/>                                                 </div>
                                             
                            <div class="text-center">
                        <button type="submit" class="btn login-btn">Resetle</button>
                    </div>                    
                    </form>
                    
                </div>
            </div>
        </div>