@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

 <!-- Footer -->
        <footer>
            <div class="footer-img">
                <img src="~/assets/img/home-one/footer-car.png" alt="Footer">
            </div>
            <div class="container">
               


                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="footer-item">
                            <div class="footer-logo">
                                <a href="index.html">
                                    <img src="~/assets/img/logo-two.png" alt="Logo">
                                </a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam nobis et praesentium architecto ex laudantium voluptates in dolore</p>
                                <ul>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class='bx bxl-youtube'></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class='bx bxl-facebook'></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class='bx bxl-instagram-alt'></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class='bx bxl-twitter'></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="footer-item">
                            <div class="footer-service">
                                <h3>Services</h3>
                                <ul>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class='bx bx-chevron-right'></i>
                                            Automobile
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class='bx bx-chevron-right'></i>
                                            Tyre Service
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class='bx bx-chevron-right'></i>
                                            Repair Service
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class='bx bx-chevron-right'></i>
                                            Engine Service
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class='bx bx-chevron-right'></i>
                                            System Service
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="footer-item">
                            <div class="footer-service">
                                <h3>Quick Links</h3>
                                <ul>
                                    <li>
                                        <a href="index.html" target="_blank">
                                            <i class='bx bx-chevron-right'></i>
                                            Home
                                        </a>
                                    </li>
                                    <li>
                                        <a href="about.html" target="_blank">
                                            <i class='bx bx-chevron-right'></i>
                                            About Us
                                        </a>
                                    </li>
                                    <li>
                                        <a href="blog.html" target="_blank">
                                            <i class='bx bx-chevron-right'></i>
                                            Blogs
                                        </a>
                                    </li>
                                    <li>
                                        <a href="engineer.html" target="_blank">
                                            <i class='bx bx-chevron-right'></i>
                                            Team
                                        </a>
                                    </li>
                                    <li>
                                        <a href="testimonial.html" target="_blank">
                                            <i class='bx bx-chevron-right'></i>
                                            Testimonials
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="footer-item">
                            <div class="footer-service footer-find">
                                <h3>Find Us</h3>
                                <ul>
                                    <li>
                                        <i class='bx bx-location-plus'></i>
                                        28/A Street, New York City
                                    </li>
                                    <li>
                                        <i class='bx bx-phone-call'></i>
                                        <a href="tel:+880123456789">
                                            +88 0123 456 789
                                        </a>
                                    </li>
                                    <li>
                                        <i class='bx bx-phone-call'></i>
                                        <a href="tel:+880563246378">
                                            +88 0563 246 378
                                        </a>
                                    </li>
                                    <li>
                                        <i class='bx bx-mail-send'></i>
                                        <a href="mailto:info@audeck.com">
                                            info@audeck.com
                                        </a>
                                    </li>
                                    <li>
                                        <i class='bx bx-mail-send'></i>
                                        <a href="mailto:hello@audeck.com">
                                            hello@audeck.com
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright-area">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="copyright-item">
                                <p>Copyright ©2021 Audeck. Designed By <a href="https://hibootstrap.com/" target="_blank">HiBootstrap</a></p>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="copyright-item copyright-right">
                                <ul>
                                    <li>
                                        <a href="terms-and-conditions.html" target="_blank">Terms & Conditions</a>
                                    </li>
                                    <li>
                                        <span>-</span>
                                    </li>
                                    <li>
                                        <a href="privacy-policy.html" target="_blank">Privacy Policy</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer -->
