@using AutoFix.Models.Identity
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager
<!-- Start Navbar Area -->
<div class="navbar-area fixed-top">
    <!-- Menu For Mobile Device -->
    <div class="mobile-nav">
        <a href="index.html" class="logo">
            <img src="~/assets/img/logo.png" alt="Logo">
        </a>
    </div>

    <!-- Menu For Desktop Device -->
    <div class="main-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="index.html">
                    <img src="~/assets/img/logo.png" alt="Logo">
                </a>
                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Index" class="nav-link ">Ana Sayfa</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="About" class="nav-link">Hakkımızda</a>
                        </li>
                        <li class="nav-item navbar-btn">
                            <a asp-controller="Home" asp-action="Contact" class="nav-link">İletişim</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Service" class="nav-link ">Servisler</a>
                        </li>
                        @*Pages started*@
                        @if (Context.User.IsInRole(RoleNames.Teknisyen))
                        {
                            <li class="nav-item">
                                <a href="#" class="nav-link dropdown-toggle">İşlemlerim</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a asp-controller="TechnicianManage" asp-action="TechFailureGet" class="nav-link">Arıza Listem</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="shop-details.html" class="nav-link">Alışveriş Detayları</a>
                                    </li>

                                </ul>
                            </li>
                        }
                        @if (Context.User.IsInRole(RoleNames.Operator))
                        {
                            <li class="nav-item">
                                <a href="#" class="nav-link dropdown-toggle">İşlemlerim</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a asp-controller="OperatorManage" asp-action="GetFailureLogging" class="nav-link">Arıza Yönlendir</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="shop-details.html" class="nav-link">Alışveriş Detayları</a>
                                    </li>

                                </ul>
                            </li>
                        }
                        @if (Context.User.IsInRole(RoleNames.Musteri))
                        {
                            <li class="nav-item">
                                <a href="#" class="nav-link dropdown-toggle">İşlemlerim</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a asp-controller="CustomerManage" asp-action="FailureLogging" class="nav-link">Arıza Kayıt</a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="CustomerManage" asp-action="FailureGet" class="nav-link">Arıza Listem</a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="CustomerManage" asp-action="Basket" class="nav-link">Sepetim</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="shop-details.html" class="nav-link">Alışveriş Detayları</a>
                                    </li>

                                </ul>
                            </li>
                        }
                        else
                        {

                            <li class="nav-item">
                                <a href="#" class="nav-link dropdown-toggle">Sayfalar</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a asp-controller="Account" asp-action="Register" class="nav-link">Üye Ol</a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Account" asp-action="Login">Giriş Yap</a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Home" asp-action="Technicians" class="nav-link">Teknisyenler</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="testimonial.html" class="nav-link">Referanslar</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="faq.html" class="nav-link">Sık Sorulan Sorular</a>
                                    </li>
                                </ul>
                            </li>
                        }

                        @*Pages end*@
                        <li class="nav-item navbar-btn">
                            <a href="contact.html" class="nav-link">Sepet</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Account" asp-action="Profile" class="nav-link">Hesap</a>
                        </li>
                    </ul>
                </div>
                <div class="cmn-btn row">

                    @if (signInManager.IsSignedIn(Context.User))
                    {

                        <div class="col-lg-5">
                            <a asp-controller="Account" asp-action="Logout" class=" banner-btn-left">Çıkış Yap <i></i></a>
                        </div>

                        @if (Context.User.IsInRole(RoleNames.Admin))
                        {
                            <div class="col-lg-5">
                                <a asp-area="Admin" asp-controller="Manage" asp-action="Index" class="banner-btn-left "> Admin Panel <i></i></a>
                            </div>

                        }
                    }
                    else
                    {
                        <a asp-controller="Account" asp-action="Login" class="banner-btn-left"><i class='bx bxs-user-plus'></i>Giriş Yap  </a>
                    }

                </div>
            </nav>
        </div>
    </div>
</div>
<!-- End Navbar Area -->
@section Styles{
      .main-nav nav .cmn-btn
       width: 30%;
       text-align: right;

}
