@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!--====== Page Title start ======-->
    <section class="page-title-area">
        <div class="container">
            <h2 class="title">@ViewBag.Title</h2>
            <ul class="breadcrumb-nav">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </section>
<!--====== Page Title End ======-->
