@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- SubscribeArea Start-->
          
<div class="subscribe-area">
    <div class="subscribe-shape">
        <img src="~/assets/img/home-one/blog-shape.png" alt="Blog">
    </div>
    <h2>Subscribe Newsletter</h2>
    <form class="newsletter-form" data-toggle="validator">
        <input type="email" class="form-control" placeholder="Enter your email" name="EMAIL" required autocomplete="off">

        <button class="btn subscribe-btn" type="submit">
            Subscribe
        </button>
        <div id="validator-newsletter" class="form-result"></div>
    </form>
</div>
     <!-- SubscribeArea End-->