<!DOCTYPE html>
<html lang="en">
<head>
   	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Responsive HTML Admin Dashboard Template based on Bootstrap 5">
	<meta name="author" content="NobleUI">
	<meta name="keywords" content="nobleui, bootstrap, bootstrap 5, bootstrap5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">

	<title>NobleUI - HTML Bootstrap 5 Admin Dashboard Template</title>

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <!-- End fonts -->

	<!-- core:css -->
	<link rel="stylesheet" href="~/admin-assets/vendors/core/core.css">
	<!-- endinject -->

	<!-- Plugin css for this page -->
  <link rel="stylesheet" href="~/admin-assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
	<!-- End plugin css for this page -->

	<!-- inject:css -->
	<link rel="stylesheet" href="~/admin-assets/fonts/feather-font/css/iconfont.css">
	<link rel="stylesheet" href="~/admin-assets/vendors/flag-icon-css/css/flag-icon.min.css">
	<!-- endinject -->

  <!-- Layout styles -->  
	<link rel="stylesheet" href="~/admin-assets/css/demo1/style.css">
  <!-- End layout styles -->

  <link rel="shortcut icon" href="~/admin-assets/images/favicon.png" />
</head>

<body>
    	<div class="main-wrapper">
            <partial name="Partials/_sidebar" />
     <!-- Preloader -->
        <div class="loader">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="spinner">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Preloader -->

    <!--====== Header Part Start ======-->
   <partial name="Partials/_navbar"/>
    <!--====== Header Part End ======-->


    <div >
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

     <!--====== Footer PART START ======-->
     <partial name="Partials/_footer"/>
    <!--====== Footer PART ENDS ======-->

    </div>

  <!-- core:js -->
	<script src="~/admin-assets/vendors/core/core.js"></script>
	<!-- endinject -->

	<!-- Plugin js for this page -->
  <script src="~/admin-assets/vendors/chartjs/Chart.min.js"></script>
  <script src="~/admin-assets/vendors/jquery.flot/jquery.flot.js"></script>
  <script src="~/admin-assets/vendors/jquery.flot/jquery.flot.resize.js"></script>
  <script src="~/admin-assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
  <script src="~/admin-assets/vendors/apexcharts/apexcharts.min.js"></script>
	<!-- End plugin js for this page -->

	<!-- inject:js -->
	<script src="~/admin-assets/vendors/feather-icons/feather.min.js"></script>
	<script src="~/admin-assets/js/template.js"></script>
	<!-- endinject -->

	<!-- Custom js for this page -->
  <script src="~/admin-assets/js/dashboard-light.js"></script>
  <script src="~/admin-assets/js/datepicker.js"></script>
	<!-- End custom js for this page -->

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
